@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'redHat';
  src: url('@/assets/fonts/RedHatText-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
